*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(pink, white);
    background-repeat: no-repeat;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(138, 56, 83);
}

#joke{
    background-color: aliceblue;
    padding: 2rem;
    border-radius: 1rem;
}

button{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1rem;
    border: 3px solid pink;
    color: rgb(138, 56, 83);
}

